.navcard {
  width: 45%;
  height: 421px;
  background-color: #fff;
  background: no-repeat;
  box-shadow: 0 5px 35px rgba(50, 50, 93, .05), 0 5px 15px rgba(0, 0, 0, .04);
  border-radius: 5px;
  background-size: contain;
}

.navcard:hover {
  transform: scaleY(1.005);
  transition: 0.125ms ease-out;
}

.navcard_contain{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}