.News_Event_Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.News_Event_Card_Wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* background-color: red; */

}
.News_Event_Bttn{
    width: 200px;
    height: 70px;
    margin-top: 50px;
    border-radius: 8px;
    border: none;
    background-color: #621c4b;
    color: white;
    cursor: pointer;
}