.body {
  width: 100%;
  height: 200vh;
  /* background-color: rgb(229, 227, 227); */
}

.body_img {
  height: 40%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(210122-111326-06158-7951x3390-6360x2711.jpg);
}

.body_nx1 {
  width: 100%;
  margin-top: 5px;
  height: 30%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.body_nx1_top {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 30px;
}

.body_nx1_middle {
  width: 70%;
  height: 40%;
  /* background-color: rgb(223, 219, 219); */
  display: flex;
  justify-content: space-between;
}

.body_nx1_middle_first {
  height: 100%;
  width: 30.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body_nx1_middle_first img {
  width: 90%;
}

.body_nx1_middle_second {
  height: 100%;
  width: 30.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-left: 2px solid rgb(190, 186, 186);
  font-size: 15px;
}

.body_nx1_middle_second button {
  height: 18%;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  background-color: #588C27;
  color: #f8f8f8;
}

.body_nx1_middle_third {
  height: 100%;
  width: 35.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 13px;
  border-left: 2px solid rgb(190, 186, 186);

}

.body_nx1_middle_third_text {
  display: flex;
  width: 80%;
  gap: 10px;
}




.body_nx1_bottom {
  display: flex;
  align-items: center;
  font-size: 23px;

}

.body_nx2 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(230, 224, 224); */
}

.body_nx2_wrap {
  width: 60%;
  height: 90%;
  /* background-color: rgb(230, 224, 224); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.body_nx2_text1 {
  text-align: center;
  font-size: 140%;
  font-family: 'Open Sans', sans-serif, arial;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.body_nx3 {
  width: 100%;
  height: 30%;
  background-color: grey;
}


.body_nx3_wrap {
  width: 70%;
}