.body {
  width: 100%;
  /* background-color: rgb(229, 227, 227); */
}

.body_nx1 {
  width: 100%;
  margin-top: 5px;
  height: 500px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.body_nx1_top {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 30px;
}

.body_nx1_middle {
  width: 70%;
  height: 40%;
  /* background-color: rgb(223, 219, 219); */
  display: flex;
  justify-content: space-between;
}

.body_nx1_middle_first {
  height: 100%;
  width: 30.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body_nx1_middle_first img {
  width: 90%;
}

.body_nx1_middle_second {
  height: 100%;
  width: 30.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-left: 2px solid rgb(190, 186, 186);
  font-size: 15px;
}

.body_nx1_middle_second button {
  height: 18%;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  background-color: #588C27;
  color: #f8f8f8;
}

.body_nx1_middle_third {
  height: 100%;
  width: 35.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 13px;
  border-left: 2px solid rgb(190, 186, 186);

}

.body_nx1_middle_third_text {
  display: flex;
  width: 80%;
  gap: 10px;
}

.body_nx1_bottom {
  display: flex;
  align-items: center;
  font-size: 23px;

}

.body_nx2 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(230, 224, 224); */
}

.body_nx2_wrap {
  width: 60%;
  height: 90%;
  /* background-color: rgb(230, 224, 224); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.body_nx2_text1 {
  text-align: center;
  font-size: 140%;
  font-family: 'Open Sans', sans-serif, arial;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.body_nx3 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.body_nx3_wrap {
  width: 90%;
  height: 60%;
  background-color: #F8F8FA;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.body_nx3 button {
  padding: 20px 60px;
  font-size: 20px;
  font-weight: 1;
  border: 1px solid #631B4B;
  color: #631B4B;
}

.body_nx4 {
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  gap: 30px;
}

.body_nx4_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.P1 {
  font-size: 35px;
}

.P2 {
  font-size: 22px;
}