.Contact_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: grey; */
  margin-bottom: 50px;
}

.Contact_card_wrap {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 36.45px;
  /* background-color: #f8f8f8; */
}

.Card {
  width: 23%;
  height: 450px;
  border-radius: 3px;
  background-color: #f8f8f8;
}

.Card_img {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: grey; */
}

.Card_img img {
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0px 0px;
}

.Card_text {
  width: 100%;
  height: 50%;
  /* background-color: #f8f8f8; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card_text h2 {
  color: #631B4B;
}

.Card_text_wrap {
  width: 90%;
  height: 85%;
  /* background-color: rgb(196, 193, 193); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card_text_span {
  width: 100%;
  height: 120px;
  /* background-color: #f8f8f8; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card_text_span button {
  width: 60%;
  padding: 12px 60px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #631B4B;
  border-color: transparent;
  color: #f8f8f8;
}