.cost_of_care_text {
  width: 95%;
}

.cost_of_care_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image1 {
  width: 100%;
}

.cost_of_care_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}