.Working_Care{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Workin_Wrap{
    width: 100%;
    
}
.Working_Care_Text{
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
    font-size: 25px;
    margin-top: 40px;
}
.Working_Care_Text_Wrap{
   width: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* background-color: blue; */
}
.Strong_p{
    font-size: 30px;
}
.Strong_Div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}
.WhyJoin{
    font-size: 40px;
}
.WhyWork{
    font-size: 40px;
}
.Want_To_Apply{
    font-size: 40px;
    margin-top: 40px;
    font-weight: 100;
}
.List_Percent{
    margin-left: 20px;
    margin-top: 30px;

}
.List_Percent li{
   line-height: 1.8;
} 
.Our_Training{
    margin-top: 28px;
    font-weight: 50;
}
.Work_Span{
display: flex;
flex-direction: column;
}
.Work_Span b{
    color: purple;
    font-weight: 50;
    text-decoration: underline;
}