.livein_care {
  width: 100%;
}


.livein_care_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.livein_care_text_wrap {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  font-weight: 100;
  gap: 15px;
}

.livein_care_text_wrap span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  gap: 15px;
}

.livein_care_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 40px 0px;
}
